* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #666;
  padding: 30px;
  margin: 0;
}
header, main, footer {
  width: 750px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-wrap: wrap;
}

header, footer {
  margin-top: 15px;
  text-align: center;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  background-color: #fff;
  padding: 25px;
  padding-top: 5px;
  border-radius: 10px;
}

#description {
  line-height: 25px;
}

.section {
  line-height: 25px;
    padding: 10px;
}

textarea {
  vertical-align: top;
  width: 320px;
  height: 100px;
  padding-left: 10px;
  padding-right: 0;
  margin: 0;
}

label {
  padding-right: 10px;
}

@media screen and (max-width: 749px) {
  header, footer, main {
    width: 100%;
    margin: 20px;
  }
}
